* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: #232320;
  --second-background: orangered;
  --main-color: white;
  --sub-main-color: rgb(171, 171, 171);
  --project-bg: #45567d;
}

html {
  scroll-behavior: smooth;
}

.sm-bold {
  font-weight: 600;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 3px;
  background-color: var(--second-background)
}

/* -------------Essentials End------------- */

/* ------------------------------------ */

/* ---------------Navbar--------------- */

#navbar {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 3rem;
  align-items: center;
  background-color: var(--second-background)
}

.nav-items {
  list-style-type: none;
  display: flex;
  width: 50%;
  min-width: 15rem;
  max-width: 30rem;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: var(--main-color);
}

/* ---------------Navbar End--------------- */

/* ---------------------------------------- */

/* ------------Welcome Section------------- */

#welcome-section {
  background-color: var(--main-background);
  height: calc(100vh - 3rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wlc-container {
  text-align: center;
  color: var(--main-color);
}

.wlc-name {
  font-size: 2rem;
}

.wlc-paragraph {
  color: var(--second-background);
  letter-spacing: 0.3rem;
  padding: 0.4rem 0;
  background-color: var(--main-background);
}

.wlc-paragraph2 {
  color: transparent;
  letter-spacing: 0.34rem;
  padding: 0.4rem 0;
  background: linear-gradient(45deg, #ff0000, #00ff00, #00f, #f00);
  background-size: 200% 100%;
  background-position: 100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  animation: transitionColors 4s linear infinite;
}

@keyframes transitionColors {
  0% {
    background-position: 0% 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 0;
  }
  75% {
    background-position: 150% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@media (min-width: 620px) {
  .wlc-name {
    font-size: 3rem;
  }

  .wlc-paragraph, 
  .wlc-paragraph2 {
    font-size: 1.4rem;
  }
}

/* ----------Welcome Section End---------- */

/* --------------------------------------- */

/* ----------------Projects--------------- */

#projects {
  width: 100vw;
  padding: 7rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  background-color: var(--project-bg)
}

.project-tile {
  text-align: center;
  text-decoration: underline;
  color: var(--main-color);
  font-size: 1.8rem;  
  font-weight: bolder;
}


.project-img {
  width: 20rem;
  height: 15rem;
  margin-bottom: 0;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-title {
  display: flex;
  justify-content: flex-start;
}

.project-header {
    transition: 150ms ease-in-out;
}

.project-header:hover {
  transform: scale(1.04);
  box-shadow: 0 0 10 5 rgba(0, 0, 0, 0.572);
}

.project-inner {
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-details {
  background-color: var(--main-background);
  padding: 0.4rem;
  display: relative;
  margin-top: 0;
}


.project-details::before {
  content: '<';
  opacity: 0.1;
  color: var(--second-background);
  transition: 150ms ease-in-out;
}

.project-details::after {
  content: '/>';
  opacity: 0.1;
  color: var(--second-background);
  transition: 150ms ease-in-out;
}

.project-details:hover:before {
  opacity: 1;
}
.project-details:focus:before {
  opacity: 1;
}
.project-details:hover:after {
  opacity: 1;
}
.project-details:focus:after {
  opacity: 1;
}

/* ----------Project End---------- */

/* ------------------------------- */

/* ----------icon styles---------- */

.fa {  
  padding: 20px;  
  text-align: center;  
  margin: 5px 2px;  
  font-size: 2rem;  
  width: 3.4rem;
  height: 3.4rem;
  display: inline-flex;
  z-index: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  transition: 200ms ease-in-out;
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: linear-gradient(
      45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );  
  color: white;  
}  

.fa-youtube {  
  background: #bb0000;  
  color: white;  
}  
.fa-google {  
  background: #dd4b39;  
  color: white;  
}  
.fa-snapchat-ghost {  
  background: #fffc00;  
  color: white;  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}  
.fa-skype {  
  background: #00aff0;  
  color: white;  
}  
.fa:hover {  
    transform: scale(0.8);
}

/* ----------icon styles end---------- */

/* ----------------------------------- */

/* ----------Profiles Section--------- */

#profiles {
  padding: 8rem 5rem;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.profile-title {
  text-align: center;
  color: var(--main-color);
  text-decoration: underline;
  padding-bottom: 2rem;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

#profile-link {
  position: relative;
  text-decoration: none;
  text-align: center;
  margin: -1;
  display: flex;
  justify-content: center;
}

.p-link-text {
  display: none;
  position: absolute;
  text-align: center;
  bottom: -0.8rem;
  transition: 200ms ease-in-out;
}

#profile-link:hover .p-link-text {
  display: flex;
  justify-content: center;
  position: absolue;
}

.fb {
  color: #0e4dd7;
}

.ig {
  color: transparent;
  background: linear-gradient(
      45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );
  -webkit-background-clip: text;
  background-clip: text;
}

.yt {
  color: #f00;
}

.linked {
  color: #0093d7;
}

/* ----------Profiles Section End---------- */

/* ---------------------------------------- */

/* -------------Footer Section------------- */

#footer {
  background-color: var(--main-background);
  padding: 0 2rem;
}

.footer-container {
  padding: 1.4rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  color: var(--sub-main-color)
}

@media only screen and (max-width: 420px) {
  .footer-container {
    flex-direction: column;
  }
}